<h1> <%=@recipe.name%> </h1><br>
<h2> <%=@recipe.ingredients%> </h2><br>
<h2> <%=@recipe.cook_time%> minutes</h2><br>

<form action="<%="/recipes/#{@recipe.id}"%>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="name" id="name" placeholder="name">
  <input type="text" name="ingredients" id="ingredients" placeholder="ingredients">
  <input type="integer" name="cook_time" id="cook_time" placeholder="cook time">
  <input type="submit" value="edit">
</form>
