<form action="/recipes" method="POST">
  <input type="text" name="name" id="name" placeholder="name">
  <input type="text" name="ingredients" id="ingredients" placeholder="ingredients">
  <input type="integer" name="cook_time" id="cook_time" placeholder="cook time">
  <input type="submit" id="submit">
</form>
